.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

#fs-1 {
  font-size: 1.5rem;
  color: aquamarine;
}
.custom-card-size {
  height: 100%; /* Ensure the card takes up the full height of its container */
  display: flex;
  flex-direction: column;
}

.custom-card-size .card-body {
  flex: 1; /* Allow the card body to grow and fill the available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}